body{
    margin: 0;
}
.background{
width: 400px;
height: 100vh;
background-image: url("/ressources/angel.jpg");
background-position: center;
background-size: cover;
border-radius: 25px;
}
.container_iconset{
    transition: ease-in-out 0.5s;
}
.iconset{
    width: 80px;
    height: 80px;
    background-color: rgba(128, 128, 128, 0.349);
    border-radius: 25%;
    transition: ease-in-out 0.5s !important;
}
.iconset1{
    transform-origin: top;
    //transform: scale(4.75,8);
    width: 380px;
    height: 800px;
    position: absolute;
    top: 4%;
    border-radius: 10px !important;
    display: flex;
    align-self: center;
    background-color: rgba(128, 128, 128, 0.90);
}
.iconset2{
    transform-origin: top;
    //transform: scale(4.75,8);
    width: 380px;
    height: 800px;
    position: absolute;
    top: 4%;
    border-radius: 10px !important;
    display: flex;
    align-self: center;
    background-color: rgba(128, 128, 128, 0.90);
}
.iconset3{
    transform-origin: top;
    //transform: scale(4.75,8);
    width: 380px;
    height: 800px;
    position: absolute;
    top: 4%;
    border-radius: 10px !important;
    display: flex;
    align-self: center;
    background-color: rgba(128, 128, 128, 0.90);
}
.iconset4{
    transform-origin: top;
    //transform: scale(4.75,8);
    width: 380px;
    height: 800px;
    position: absolute;
    top: 4%;
    border-radius: 10px !important;
    display: flex;
    align-self: center;
    background-color: rgba(128, 128, 128, 0.90);
}
.unclick{
    user-select: none;
    pointer-events: none;
}
.container_iconset{
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
}
div{
    p{
        display: flex;
        justify-content: center;
        padding-top: 0.9em;
        color: white;
    }
}
.none{
    display: none;
}
h2{
    display: flex;
    justify-content: center;
    text-align: center;
}