body {
  margin: 0;
}

* {
  font-family: 'Economica', sans-serif;
}

.background {
  width: 400px;
  height: 100vh;
  background-image: url("https://raw.githubusercontent.com/W-mseg/veilledessincss/master/ressources/angel.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}

.container_iconset {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.iconset {
  width: 80px;
  height: 80px;
  background-color: rgba(128, 128, 128, 0.349);
  border-radius: 25%;
  -webkit-transition: ease-in-out 0.5s !important;
  transition: ease-in-out 0.5s !important;
}

.iconset1 {
  -webkit-transform-origin: top;
          transform-origin: top;
  width: 380px;
  height: 800px;
  position: absolute;
  top: 4%;
  border-radius: 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: rgba(128, 128, 128, 0.9);
}

.iconset2 {
  -webkit-transform-origin: top;
          transform-origin: top;
  width: 380px;
  height: 800px;
  position: absolute;
  top: 4%;
  border-radius: 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: rgba(128, 128, 128, 0.9);
}

.iconset3 {
  -webkit-transform-origin: top;
          transform-origin: top;
  width: 380px;
  height: 800px;
  position: absolute;
  top: 4%;
  border-radius: 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: rgba(128, 128, 128, 0.9);
}

.iconset4 {
  -webkit-transform-origin: top;
          transform-origin: top;
  width: 380px;
  height: 800px;
  position: absolute;
  top: 4%;
  border-radius: 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: rgba(128, 128, 128, 0.9);
}

.unclick {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.container_iconset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10%;
}

div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.9em;
  color: white;
}

.none {
  display: none;
}

h2 {
  text-align: center;
  text-decoration: underline;
  margin: 10px;
  font-size: xx-large;
}

#ecrit {
  margin-top: -10%;
  font-size: xx-large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.secondback {
  position: absolute;
  left: 50%;
  top: 10%;
  background-color: red;
  width: 400px;
  height: 400px;
}
/*# sourceMappingURL=styles.css.map */